top {
    display: block;
    color: #000;
    font-size: 30px;
    text-align: center;
    padding: 1px;
}
SongList {
    background-color: #80d4ff;
}
song{
    padding: 1px;
}
artist {
    color: #400080;
    display: block;
    text-align: center;
}
stitle {
    color: #660033;
    font-weight: bold;
    font-size: 20px;
    display: block;
    text-align: center;
}
genre {
    color: #004d00;
    display: block;
    text-align: center;
}
year {
    color: #003366;
    display: block;
    text-align: center;
}
